@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body{
    background-image: url(assets/img/grayscale-photography-of-trees-1529881.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}
form{
    width: 50vw;
    height: auto;
    padding: 1%;
    opacity: O.5;
    border: 2px solid rgb(167, 165, 165);
    box-shadow: 5px 5px 10px #E9967A;
    
}
legend{
 font-size: 2em;
 font-family: 'Lobster', cursive;
 
}
strong{
    font-size: 2em;
    font-family: 'Lobster', cursive;
    font-weight: bold;
 
}
label{
    font-size: 1.5em;
    color: rgb(245, 182, 203);
}
[value=Envoyer]{
    color: red;
}
a{
    text-decoration: none;
    color: #FAF0E6;   
}
a:hover{
    font-weight: bold;
    color: #F08080;
    transition: 1s;
}
span{
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    color: #000;
}
